FACEBOOK_APP_ID=skip
FACEBOOK_APP_SECRET=skip
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
GOOGLE_CLIENT_ID=skip
GOOGLE_CLIENT_SECRET=skip
GOOGLE_CALLBACK=http://localhost:3000/auth/google/callback
PORT=3000
COOKIE_SECRET=expense-tracker
SESSION_SECRET=expense-tracker
DYNAMODB_REGION=YOUR REGION
USER_TABLE_NAME=YOUR TABLE NAME
RECORD_TABLE_NAME=YOUR TABLE NAME
CATEGORY_TABLE_NAME=YOUR TABLE NAME