<div class="container text-style mt-4 text-center">
  <h2>Internal Server Error</h2>
  <h4 class="my-4">Sorry about that :(</h4>

  <h5>{{ err.name }}</h5>
  <p>{{ err.message }}</p>

  <p>If you find any issue about this project, feel free to pull request.</p>
  <p>Good Luck!</p>
</div>