<div class="row mt-4">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-2">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter email..."
            value="{{ email }}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter password...">
        </div>
        <button type="submit" class="btn btn-info btn-block">Login</button>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
          <i class="fab fa-facebook-square fa-lg"></i> Sign in with Facebook
        </a>
        <a href="/auth/google" class="btn btn-light btn-block border">
          <img class="mb-1" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
            style="width: 18px; height: 18px;" /> Sign in with Google
        </a>
      </form>
      <p class="lead mt-1">
        <small>Don't have an account? <a href="/users/register">Register</a></small>
      </p>
    </div>
  </div>
</div>