body {
  background: #f8f8fd;
  color: #514B64;
}

.type {
  border: 1px solid #aaa;
  border-radius: 15px;
  padding: 5px 20px 5px;
  margin-left: 15px;
}

.type:hover {
  background-color: #A6CDE7;
}

.type.active {
  background-color: #c0dff3;
  outline: none;
}

.record.income {
  background-color: rgba(78,125,52, 0.06);
}

.record.expense {
  background-color: rgba(192,57,43, 0.06);
}